:root{
	--color-white:                      #ffffff;
	--color-gray-5:                     #FBFBFB;
	--color-gray-10:                    #EDF2F8;
	--color-gray-30:                    #EDEFF7;
	--color-gray-50:                    #D3D4E1;
	--color-gray-70:                    #8C8F9D;
	--color-gray-90:                    #46474F;
	--color-black:                      #141516;
	
	--color-primary-dark-blue:          #4143EC;
	--color-primary-blue:               #6985D1;
	--color-primary-light-blue:         #B5CEEE;
	
	--color-secondary-red:              #C72C24;
}