:root{
	--color-white:                      #ffffff;
	--color-gray-5:                     #FBFBFB;
	--color-gray-10:                    #EDF2F8;
	--color-gray-30:                    #EDEFF7;
	--color-gray-50:                    #D3D4E1;
	--color-gray-70:                    #6B6E7F;
	--color-gray-90:                    #46474F;
	--color-black:                      #141516;
	
	--color-primary-dark-blue:          #4143EC;
	--color-primary-blue:               #4B65B8;
	--color-primary-light-blue:         #5B8AB8;
	
	--color-secondary-red:              #C72C24;
}