.burger{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24rem;
	height: 24rem;
	padding-top: 3rem;
	
		&-box{
			position: relative;
			width: 18rem;
			height: 16rem;
			
				&-arrow{
					position: absolute;
					right: 0;
					width: 100%;
					height: 1.5rem;
					background-color: var(--color-black);
					transition: all var(--transition-duration-button) var(--transition-easing-button);
					
						&:nth-child(1){
							top: 0;
						}
					
						&:nth-child(2){
							top: 7rem;
						}
					
						&:nth-child(3){
							bottom: 0;
						}
				}
		}
	
		&.active{
				.burger-box-arrow{
					width: calc(100% + 2rem);
					
						&:nth-child(1){
							top: 8rem;
							transform: rotate(45deg);
						}
					
						&:nth-child(2){
							width: 0;
						}
					
						&:nth-child(3){
							bottom: 6rem;
							transform: rotate(-45deg);
						}
				}
		}
}