@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.heroDefault{
	position: relative;
	padding: 60rem 0;
	
		@include maxWidth($sm-max){
			padding: 24rem 0 48rem;
		}
	
		&-content{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			height: 100%;
			gap: 24rem;
			
				& > *{
					&:empty{
						display: none;
					}
				}
		}
	
		&-banner{
			position: relative;
			width: auto;
			//height: auto;
			margin: 0 -65rem 0 -12rem;
			height: 425rem;

				@include maxWidth($md-max){
					margin: 40rem auto 0;
					height: auto;
				}
			
				@include maxWidth($sm-max){
					width: auto;
					//height: 206rem;
					margin: 30rem -15rem 0;
				}
		}
	
		&-title{
			//margin-bottom: 24rem;
			padding-right: 10rem;
			
				@include maxWidth($sm-max){
					padding-right: 0;
				}
		}
	
		&-description{
		
		}
	
		&-actions{
			display: flex;
			gap: 16rem;
			align-items: center;
			margin-top: 16rem;
			
				@include maxWidth($sm-max){
					margin-top: 32rem;
				}
		}
	
		&-abstract{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 555rem;
			overflow: hidden;
			background-image: url('/abstract/hero-abstract-desktop-full.svg');
			background-repeat: no-repeat;
			background-position: center top;
			background-size: auto 100%;
			pointer-events: none;
			
				@include maxWidth($sm-max){
					height: 656rem;
					background-image: url('/abstract/hero-abstract-mobile.svg');
				}
		}
	
		& + section{
			@include maxWidth($sm-max){
				padding-top: 0;
			}
		}
}