@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.posts{
	padding: 58rem 0 100rem;
	
		@include maxWidth($sm-max){
			padding: 25rem 0 60rem;
		}
	
		&-list{
			margin-top: -16px;
			padding-bottom: 44rem;
			
				@include maxWidth($sm-max){
					margin-top: -7rem;
					padding-bottom: 18rem;
				}
		}
}